<input type="radio" name="<%= name %>" value="<%= peso[0] %>" id="<%= name %>" checked="checked" required><label for="<%= name %>">Mai</label>
<input type="radio" name="<%= name %>" value="<%= peso[1] %>" id="<%= name %>" required><label for="<%= name %>">Occasionale</label>
<input type="radio" name="<%= name %>" value="<%= peso[2] %>" id="<%= name %>"><label for="<%= name %>">Spesso</label>
