<input type="radio" name="<%= name %>" value="mai" id="<%= name %>" checked="checked" required><label for="<%= name %>">Mai</label>
<input type="radio" name="<%= name %>" value="raro" id="<%= name %>" required><label for="<%= name %>">Raro</label>
<input type="radio" name="<%= name %>" value="occasionale" id="<%= name %>" required><label for="<%= name %>">Occasionale</label>
<input type="radio" name="<%= name %>" value="spesso" id="<%= name %>"><label for="<%= name %>">Spesso</label>
<input type="radio" name="<%= name %>" value="sempre" id="<%= name %>"><label for="<%= name %>">Sempre</label>