<input type="radio" name="<%= name %>" value="10" id="<%= name %>" checked="checked" required><label for="<%= name %>">Mai</label>
<input type="radio" name="<%= name %>" value="20" id="<%= name %>" required><label for="<%= name %>">Occasionale</label>
<input type="radio" name="<%= name %>" value="30" id="<%= name %>"><label for="<%= name %>">Spesso</label>
