---
title: >
        Disturbi Visivi

description: >
        Da inserire

testata:
    prima_riga: Lavori al Computer?
    hasButton: 0
    seconda_riga: >
            Soffri di stanchezza e affaticamento?<br>
            <i>Ecco la soluzione ai tuoi problemi!</i>

immagineTestata: https://prismic-io.s3.amazonaws.com/optometrista/461a954643d26cbc639fb34bfb8331860a77764f_occhi-stanchi-pc-6.jpg

headCode: >

conversionCode: >

---
<div class="spazio_bianco"></div>

<div class="row">
        <div class="small-12 medium-6 large-6 columns box_domande">
            <h4>Quando sei dietro ad uno schermo:</h4>
            <hr>
            <ul>
                <li>
                    Ti capita di avere mal di testa?
                </li>
                <li>
                    Hai gli occhi irritati o affaticati?
                </li>
                <li>
                    Hai mal di schiena o senti rigidità?
                </li>
            </ul>
        </div>
        <div class="large-1 arrow-right show-for-large">

        </div>
        <div class="medium-6 large-5 columns center">
            <h4 class="subheader">Migliora la qualità della tua vita:</h4>
            <hr>
            <%= partial "partials/rowCallToAction" %>
            <p>
                Scopri se sei a rischio di<br> <i>problemi visivi seri e permanenti</i>
            </p>
        </div>
</div>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="small-12 columns">
        <h2>Il problema</h2>
    </div>
</div>
<div class="row">
        <div class="small-12 medium-5 columns">
            <img src="https://prismic-io.s3.amazonaws.com/optometrista/7a8661fe5c52e3e10dc9fc5589eb19e8c1d2b236_occhi-stanchi-pc-7.jpg">
        </div>
        <div class="small-12 medium-7 columns">
            <h3 class="subheader">Abbiamo occhi per vedere da lontano</h3>
            <p>
                Gli esseri umani hanno occhi adatti a <strong>vedere da lontano</strong>, per avvistare pericoli o per difendersi.
            </p>
            <h3 class="subheader">Usiamo gli occhi per guardare vicino</h3>
            <p>
                Oggi il nostro lavoro e i nostri passatempi portano la nostra attenzione visiva ad una <strong>distanza inferiore al nostro braccio</strong>
            </p>
            <h3 class="subheader">Aumenta così lo STRESS VISIVO</h3>
            <p>
                Il nostro occhio si adatta quindi alle nuove condizioni portando a:
                <ul>
                    <li>
                        Miopia
                    </li>
                    <li>
                        Soppressione di un occhio
                    </li>
                    <li>
                        Scarsa coordinazione tra gli occhi
                    </li>
                    <li>
                        Rendimento ridotto in attività lavorative e ricreative
                    </li>
                </ul>
            </p>

        </div>

</div>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="small-12 columns">
        <h2>I sintomi</h2>
    </div>
</div>
<div class="row">
        <p>
                Lo stress visivo collegato all'uso del computer si nasconde dietro a sintomi precisi non solo legati alla vista!
                <br>Questi sintomi possono essere di due tipi:
            </p>
        <div class="small-12 medium-6 columns">
            <h3 class="subheader">Sintomi visivi diretti</h3>
            <p>
                <ul>
                    <li>
                        Mal di testa
                    </li>
                    <li>
                        Affaticamento e irritazione degli occhi
                    </li>
                    <li>
                        Visione sfocata
                    </li>
                    <li>
                        Messa a fuoco lenta passando da uno schermo ad un oggetto lontano
                    </li>
                    <li>
                        Perdita del segno passando lo sguardo dalo schermo ad un foglio da copiare
                    </li>
                    <li>
                        Difficoltà a vedere nitido da lontano dopo l'uso del computer
                    </li>
                    <li>
                        Visione doppia occasionale o frequente
                    </li>
                    <li>
                        Nonostante gli occhiali non si alleviano questi sintomi
                    </li>
                </ul>
            </p>

        </div>
        <div class="small-12 medium-6 columns">
            <h3 class="subheader">Sintomi visivi indiretti</h3>
            <p>
                <ul>
                    <li>
                        Tensione o dolore a collo e spalle
                    </li>
                    <li>
                        Mal di schiena
                    </li>
                    <li>
                        Affaticamento fisico eccessivo
                    </li>
                    <li>
                        Aumento dell'irritabilità con l'uso del computer
                    </li>
                    <li>
                        Dolori a braccia, gomiti e spalle
                    </li>
                    <li>
                        Aumento del nervosismo
                    </li>
                    <li>
                        Generale riduzione dell'efficienza visiva
                    </li>
                    <li>
                        Aumento della frequenza di errori
                    </li>
                </ul>
            </p>
        </div>

</div>

<div class="row">
    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/optometrista/e4a870d00d86b50e9a707402cc9f1a2630cc9181_mal-di-testa.jpg">
    </div>
</div>

<div class="row banner show-for-medium">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Scopri se sei a rischio di<br> <i>problemi visivi seri e permanenti</i></span>
            </a>
        </div>
</div>

<%= partial "partials/rowCallToAction" %>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="small-12 columns">
        <h2>La soluzione</h2>
    </div>
</div>
<div class="row">
        <div class="small-12 medium-5 columns">
            <img src="https://prismic-io.s3.amazonaws.com/optometrista/83bb998f079987685bf96d3e67c614c02cb2bef9_occhio.jpg">
        </div>
        <div class="small-12 medium-7 columns">
            <h3 class="subheader">Un approccio scientifico</h3>
            <p>
                Una analisi corretta dei sintomi porta a verificare, prevenire e curare possibili problemi visivi permanenti. Ci occupiamo quindi di:
                <ul>
                    <li>
                        Effettuare una serie completa di test da vicino
                    </li>
                    <li>
                        Effettuare test di valutazione della percezione visiva collegata al lavoro
                    </li>
                    <li>
                        Effettuare esercizi di training visivo in studio
                    </li>
                    <li>
                        Effettuare controlli periodici al fine di valutare i progressi
                    </li>
                </ul>
            </p>
            <h3 class="subheader">Lenti di Performance</h3>
            <p>
                Per molte persone lo stress visivo può essere <strong>eliminato</strong> o ridotto al minimo attraverso l'uso di <i>lenti di performance</i>
            </p>

            <h3 class="subheader">Traininig Visivo</h3>
            <p>
                I problemi di alcune persone potranno essere risolti tramite un programma di training visivo atto a migliorare:
                <ul>
                    <li>
                        La coordinazione e la scansione oculare per permettere agli occhi di lavorare correttamente insieme
                    </li>
                    <li>
                        La capacità di mettere a fuoco il monitor senza affaticamento
                    </li>
                </ul>
            </p>

        </div>

</div>

<div class="row banner show-for-medium">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Scopri se sei a rischio di<br> <i>problemi visivi seri e permanenti</i></span>
            </a>
        </div>
</div>

<section class="form">
    <div id="form" class="row evidenza clearfix">
        <div class="float-center">
            <span><i class="fa fa-info" aria-hidden="true"></i> Fai il test!</span><br>
            Scopri se sei a rischio di problemi visivi seri e permanenti!
        </div>

    </div>
    <div class="row">
        <div class="small-12 medium-12 columns">
            <form data-abide novalidate accept-charset="UTF-8" action="#" method="POST">
                <!-- <div data-abide-error class="alert callout" style="display: none;">
                    <p><i class="fi-alert"></i> Si sono verificati alcuni errori evidenziati in rosso.</p>
                </div> -->
                <input type="hidden" id="deviceForm" name="device" value="large">
                <input type="hidden" id="campagnaForm" name="campagna" value="direct">

                <fieldset class="large-12 columns fieldset">
                    <legend><h5 class="subheader">Impegno visivo</h5></legend>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    La lettura non è piacevole e rilassante, lenta, faticosa con sforzo
                                    di concentrazione, attenzione e comprensione.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "v_1"} %>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Perdo il segno, inverto, salto, confondo lettere o parole.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "v_2"} %>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Apprendo meglio se ascolto la lettura da parte di altri.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "v_3"} %>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    La qualità visiva è scarsa e peggiora a fine giornata con annebbiamento, fatica nei passaggi di messa a fuoco da vicino (scrivania) / intermedio (monitor) a lontano e viceversa.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "v_4"} %>
                            </div>
                        </div>


                </fieldset>

                <fieldset class="large-12 columns fieldset">
                    <legend><h5 class="subheader">Coordinare i due occhi</h5></legend>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Fatica nel gestire contemporaneamente i due occhi e mantenere una visione singola.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "c_1"} %>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Inclino il capo o chiudo un occhio durante la lettura e il lavoro.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "c_2"} %>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Fatico a mantenere l’interesse nella stessa area (pagina, lavagna, monitor, spazio). Necessito di distogliere lo sguardo dall’area di attenzione e poi mi distraggo
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "c_3"} %>
                            </div>
                        </div>

                </fieldset>

                <fieldset class="large-12 columns fieldset">
                    <legend><h5 class="subheader">Relazione con lo spazio</h5></legend>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Incoerente interpretazione dello spazio e delle distanze: sono instabile, insicuro, prudente, pondero prima di muovermi; inciampo, urto gli oggetti. Esito nell’afferrare, lanciare o ribattere la palla.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "r_1"} %>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Ho difficoltà a copiare dalla lavagna, scrivere nelle righe, incolonnare numeri, colorare entro gli spazi del disegno, scrivo con foglio ruotato.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "r_2"} %>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Carente coordinazione motoria generale: goffo e impacciato nei movimenti con prestazioni sportive condizionate dal movimento ritmico, armonico, acrobatico e nelle dinamiche in cui si deve cambiare repentinamente direzione (step, sci, pattinaggio, ballo).
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "r_3"} %>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Problemi di orientamento, instabilità ed insicurezza nella deambulazione (presenti anche negli anziani e nei post trauma da colpi di frusta, tamponamenti, cadute, scivolate importanti).
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "r_4"} %>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Difficoltà nel gestire i compiti/impegni ed il tempo in maniera proficua.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "r_5"} %>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Camminata poco fluida, insicura, sbilanciata sulle punte, non lineare che tende da un lato e devo compensare la traiettoria per andare diritto. Appoggio podalico non uniforme con pressione sui calcagni.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "r_6"} %>
                            </div>
                        </div>

                </fieldset>

                <fieldset class="large-12 columns fieldset">
                    <legend><h5 class="subheader">Autocoscienza esterna</h5></legend>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Ridotta consapevolezza delle informazioni visive periferiche/ambientali. Visione con “paraocchi e difficoltà a fare caso alle cose a fianco”: non esploro lo spazio, cammino con sguardo in basso, fatico a trovare oggetti circondati da altri elementi (parti di puzzle, prodotti sugli scaffali, segnaletica stradale).
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "a_1"} %>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Disagio, insofferenza, instabilità, insicurezza, tensioni associati a: lettura, studio, lavoro, PC, videogiochi; ed in presenza di stimoli visivi dinamici (TV, cinema, guardare fuori dal finestrino, nel traffico, supermercati, centri commerciali, parco giochi, scale mobili, sport, ballo, in mezzo alla gente).
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "a_2"} %>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Evito gli spostamenti rapidi degli occhi. Leggo con movimento della testa e perdo il segno.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "a_3"} %>
                            </div>
                        </div>

                </fieldset>

                <fieldset class="large-12 columns fieldset">
                    <legend><h5 class="subheader">Risposta tensiva</h5></legend>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Cefalea invalidante, disagio e stanchezza generale durante o dopo impegni visivo-attentivi.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "t_1"} %>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Spalle infossate e rigide con alterata libertà dei movimenti del capo; postura in chiusura, incurvata, asimmetrica, ravvicinata alla scrivania.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "t_2"} %>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Riposo non rilassato, contratto con risvegli notturni.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "t_3"} %>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Articolazione mandibolare contratta. Serro i denti durante gli impegni di studio o lavoro. Digrigno.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "t_4"} %>
                            </div>
                        </div>

                </fieldset>

                <div class="row">
                    <div class="small-6 columns">
                        <label>Nome e Cognome*
                            <input type="text" name="nome_cognome" required>
                            <span class="form-error">
                                Il campo Nome è obbligatorio
                            </span>
                        </label>
                    </div>
                    <div class="small-6 columns">
                        <label>E-Mail*
                            <input type="email" name="email" required>
                            <span class="form-error">
                                Il campo E-Mail è obbligatorio
                            </span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-12 columns">
                        <label>
                            Richieste o Domande?
                            <textarea rows="3" cols="50" name="messaggio"></textarea>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <input type="checkbox" name="privacy" id="privacy" required checked>
                            <label for="privacy">
                                Ho letto e accetto l'informativa sulla <a href="/privacy" target="_blank">Privacy</a>
                                <span class="form-error">
                                    <p>Accetta l'informativa sulla privacy!</p>
                                </span>
                            </label>
                    </div>
                </div>



                <div class="row align-center">
                    <fieldset class="small-12 columns">
                        <button class="ctaButton button" type="submit" value="Submit">Invia la tua richiesta</button>
                    </fieldset>
                </div>
          </form>
        </div>
        <!-- <div class="small-12 medium-6 columns clearfix">
                <div class="row">
                    <div class="columns vantaggiForm">
                        <p>
                            <div class="box_nverde">
                                <span>Se preferisci usa il Numero Verde gratuito!</span><br />
                                <span class="numero-verde"> 800-035-126 </span><br />
                                <span>da Lunedì a Venerdì 9.00 - 13.00 e 14.00 - 17.00</span>
                            </div>
                        </p>
                        <p>
                            <i class="fa fa-thumbs-o-up"></i> Possibilità di <strong>Mutuo a tasso vantaggioso</strong>
                        </p>
                        <p>
                            <i class="fa fa-thumbs-o-up"></i> Classe energetica A e B
                        </p>
                        <p>
                            <i class="fa fa-thumbs-o-up"></i> Zona ricca di servizi
                        </p>
                        <p>
                            <i class="fa fa-thumbs-o-up"></i> Spese condominiali bassissime
                        </p>
                    </div>
                </div>
        </div> -->
    </div>
</section>
<hr>

