---
title: >
        Disturbi Visivi - Risolvi i Tuoi problemi di Stanchezza

description: >
        Ti Capita di Avere Mal di Testa, Mal di Schiena o la Vista Affaticata? Sono Segnali da Non Sottovalutare! Fai il Test e Scopri se la Tua Vista è a Rischio.

testata:
    prima_riga: Mal di testa? Occhi affaticati?
    hasButton: 0
    seconda_riga: >
            Scopri come Risolvere i Tuoi Problemi di Stanchezza<br>

immagineTestata: https://prismic-io.s3.amazonaws.com/optometrista/f01e43ac7c0f8fc09077165bbd696d3c6e8891c4_occhi-stanchi-pc-6.jpg

headCode: >

conversionCode: >

---
<div class="spazio_bianco"></div>

<div class="row">
        <div class="small-12 medium-6 large-6 columns box_domande">
            <ul>
                <li>
                    Ti capita di avere mal di testa?
                </li>
                <li>
                    Hai gli occhi irritati o affaticati?
                </li>
                <li>
                    Senti rigidità a collo, schiena o bocca?
                </li>
            </ul>
            <p>
                <h4>Attento!<br>
                Sono segnali da non sottovalutare!</h4>
            </p>
        </div>
        <div class="large-1 arrow-right show-for-large">

        </div>
        <div class="medium-6 large-5 columns center">
            <h3 class="subheader">Scopri se la tua vista è a rischio</h3>
            <!-- <h4>
                <i>la tua efficienza visiva</i>
            </h4> -->
            <%= partial "partials/rowCallToAction" %>
            <h4 class="subheader">Migliora la qualità della tua vita</h4>
        </div>
</div>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="small-12 columns">
        <h2>Stress Visivo</h2>
    </div>
</div>
<div class="row">
        <div class="small-12 medium-5 columns">
            <img src="https://prismic-io.s3.amazonaws.com/optometrista/7a8661fe5c52e3e10dc9fc5589eb19e8c1d2b236_occhi-stanchi-pc-7.jpg">
        </div>
        <div class="small-12 medium-7 columns">
            <h3 class="subheader">Abbiamo occhi per vedere da lontano</h3>
            <p>
                Gli esseri umani hanno occhi per <strong>vedere da lontano</strong>, e per avvistare pericoli.
            </p>
            <h3 class="subheader">Usiamo gli occhi per guardare da vicino</h3>
            <p>
                Oggi il nostro lavoro e i nostri passatempi portano la nostra attenzione visiva ad una <strong>distanza molto ravvicinata</strong>
            </p>
            <h3 class="subheader">Aumenta così lo STRESS VISIVO</h3>
            <p>
                Il nostro sistema visivo si adatta quindi alle nuove condizioni portando a:
                <ul>
                    <li>
                        Bassa qualità visiva con viariazioni di miopia, ipermetropia, astigmatismo.
                    </li>
                    <li>
                        Difficoltà a “fare lavorare gli occhi insieme”
                    </li>
                    <li>
                       Interferire con il sistema muscolare collo-spalle ed apertura bocca
                    </li>
                    <li>
                        Rendimento ridotto in attività lavorative e ricreative
                    </li>
                    <li>
                        Alterato benessere
                    </li>
                </ul>
            </p>

        </div>

</div>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="small-12 columns">
        <h2>I segnali che indicano un problema</h2>
        <p>Il logorante utilizzo del computer può essere la causa di diverse difficoltà visive e correlate:</p>
    </div>
</div>


<!-- <div class="row small-up-1 medium-up-2 sintomi">
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Vista Annebbiata</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Bruciore agli occhi</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Secchezza oculare</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Occhi arrossat</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Occhi stanchi</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Visione doppia</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Dolore agli occhi</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Vista affaticata</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Mal di testa</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Mal di schiena</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Stanchezza fisica</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Nervosismo</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Tensione muscolare</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Cervicale</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Dolori a spalle e braccia</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Dolori articolari</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Confondere e saltare parole nella lettura</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Errata interpretazione dello spazio</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Instabilità ed insicurezza nel movimento</p></div>
    <div class="column"><p><i class="fa fa-frown-o" aria-hidden="true"></i> Serraggio mandibolare</p></div>



</div> -->

<div class="row small-up-1 medium-up-2">

        <div class="column">
            <h3 class="subheader">Segnali visivi</h3>
            <p>
                <ul>
                    <li>
                        Occhi stanchi
                    </li>
                    <li>
                       Vista affaticata
                    </li>
                    <li>
                        Bruciore agli occhi
                    </li>
                    <li>
                        Visione annebbiata
                    </li>
                    <li>
                        Confondere parole nella lettura
                    </li>
                    <li>
                        Lettura lenta
                    </li>
                    <li>
                        Visone doppia
                    </li>
                    <li>
                        Perdere il segno leggendo
                    </li>
                    <li>
                        La qualità visiva peggiora a fine giornata
                    </li>
                </ul>
            </p>

        </div>
        <div class="column">
            <h3 class="subheader">Segnali correlati</h3>
            <p>
                <ul>
                    <li>
                        Mal di testa
                    </li>
                    <li>
                        Disagio e stanchezza fisica
                    </li>
                    <li>
                        Difficoltà di attenzione e concentrazione
                    </li>
                    <li>
                        Visione con “paraocchi”
                    </li>
                    <li>
                        Errata interpretazione delle distanze o spazio
                    </li>
                    <li>
                        Instabilità ed insicurezza nel movimento
                    </li>
                    <li>
                        Tensione muscolare collo-spalle
                    </li>
                    <li>
                        Postura in chiusura
                    </li>
                    <li>
                        Serraggio denti
                    </li>
                </ul>
            </p>
        </div>

</div>

<div class="row">
    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/optometrista/e4a870d00d86b50e9a707402cc9f1a2630cc9181_mal-di-testa.jpg">
    </div>
</div>

<div class="row banner">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Scopri se la tua vista è a rischio</span>
            </a>
        </div>
</div>

<%= partial "partials/rowCallToAction" %>

<div class="spazio_bianco"></div>

<div class="row">
    <div class="small-12 columns">
        <h2>La Soluzione</h2>
    </div>
</div>
<%= partial "partials/soluzione" %>

<div class="row banner show-for-medium">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Scopri se la tua vista è a rischio</span>
            </a>
        </div>
</div>

<section class="form">
    <div id="formTest" class="row evidenza clearfix">
        <div class="float-center">
            <span><i class="fa fa-info" aria-hidden="true"></i> Fai il test!</span><br>
            Scopri se è a rischio la tua efficienza visiva!
        </div>

    </div>
    <div class="row">
        <div class="small-12 medium-12 columns">
            <form id="formTestJquery" idaccept-charset="UTF-8" method="POST">
                <!-- <div data-abide-error class="alert callout" style="display: none;">
                    <p><i class="fi-alert"></i> Si sono verificati alcuni errori evidenziati in rosso.</p>
                </div> -->
                <input type="hidden" id="deviceForm" name="device" value="large">
                <input type="hidden" id="campagnaForm" name="campagna" value="direct">

                <fieldset class="large-12 columns fieldset">
                    <legend><h5 class="subheader">Impegno visivo</h5></legend>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    La lettura non è piacevole e rilassante, lenta, faticosa con sforzo
                                    di concentrazione, attenzione e comprensione.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "a_1", :peso => [0,3,5]} %>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    La qualità visiva è scarsa e peggiora a fine giornata.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "a_2", :peso => [0,1,4]} %>
                            </div>
                        </div>


                </fieldset>

                <fieldset class="large-12 columns fieldset">
                    <legend><h5 class="subheader">Coordinare i due occhi</h5></legend>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Fatico nel gestire contemporaneamente i due occhi e mantenere una visione singola.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "b_1", :peso => [0,3,5]} %>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Mi impegno nel mantenere l’attenzione visiva nella stessa area e spesso necessito di distogliere lo sguardo.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "b_2", :peso => [0,2,4]} %>
                            </div>
                            <hr>
                        </div>

                </fieldset>

                <fieldset class="large-12 columns fieldset">
                    <legend><h5 class="subheader">Relazione con lo spazio</h5></legend>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Incoerente interpretazione dello spazio e delle distanze: pondero prima di muovermi, inciampo, urto gli oggetti; sono impacciato nei movimenti e nelle prestazioni sportive, esito nell’afferrare, lanciare o ribattere la palla.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "c_1", :peso => [0,2,4]} %>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Problemi di orientamento, instabilità ed insicurezza nella deambulazione, camminata non lineare che tende da un lato.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "c_2", :peso => [0,3,5]} %>
                            </div>
                            <hr>
                        </div>

                </fieldset>

                <fieldset class="large-12 columns fieldset">
                    <legend><h5 class="subheader">Autocoscienza esterna</h5></legend>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Visione con “paraocchi e difficoltà a fare caso alle cose a fianco”: non esploro lo spazio e cammino con sguardo in basso, fatico a trovare gli oggetti circondati da altri elementi.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "d_1", :peso => [0,2,4]} %>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Insofferenza, tensioni nella lettura ed in presenza di stimoli visivi dinamici (lavoro, TV, cinema, traffico, centri commerciali, sport, ballo).
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "d_2", :peso => [0,2,5]} %>
                            </div>
                        </div>

                </fieldset>

                <fieldset class="large-12 columns fieldset">
                    <legend><h5 class="subheader">Risposta tensiva</h5></legend>

                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Cefalea persistente, disagio e stanchezza durante o dopo l’attività lavorativa.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "e_1", :peso => [0,3,5]} %>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="columns small-12 medium-6">
                                <p>
                                    Spalle infossate, rigidi movimenti del capo, postura in chiusura e ravvicinata, serraggio denti.
                                </p>

                            </div>
                            <div class="columns">
                                <%= partial "partials/radio_form", :locals => { :name => "e_2", :peso => [0,2,4]} %>
                            </div>
                            <hr>
                        </div>

                </fieldset>

                <div class="row">
                    <div class="small-6 columns">
                        <label>Nome e Cognome*
                            <input type="text" name="nome_cognome" required>
                            <span class="form-error">
                                Il campo Nome è obbligatorio
                            </span>
                        </label>
                    </div>
                    <div class="small-6 columns">
                        <label>E-Mail*
                            <input type="email" name="email" required>
                            <span class="form-error">
                                Il campo E-Mail è obbligatorio
                            </span>
                        </label>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="small-12 medium-12 columns">
                        <label>
                            Richieste o Domande?
                            <textarea rows="3" cols="50" name="messaggio"></textarea>
                        </label>
                    </div>
                </div> -->

                <div class="row">
                    <div class="small-12 columns">
                        <input type="checkbox" name="privacy" id="privacy" required checked>
                            <label for="privacy">
                                Ho letto e accetto l'informativa sulla <a href="/privacy" target="_blank">Privacy</a>
                                <span class="form-error">
                                    <p>Accetta l'informativa sulla privacy!</p>
                                </span>
                            </label>
                    </div>
                </div>



                <div class="row align-center">
                    <fieldset class="small-12 columns">
                        <button class="ctaButton button inviaRichiesta" type="submit" value="Submit">Invia la tua richiesta</button>
                    </fieldset>
                </div>
          </form>
        </div>
        <!-- <div class="small-12 medium-6 columns clearfix">
                <div class="row">
                    <div class="columns vantaggiForm">
                        <p>
                            <div class="box_nverde">
                                <span>Se preferisci usa il Numero Verde gratuito!</span><br />
                                <span class="numero-verde"> 800-035-126 </span><br />
                                <span>da Lunedì a Venerdì 9.00 - 13.00 e 14.00 - 17.00</span>
                            </div>
                        </p>
                        <p>
                            <i class="fa fa-thumbs-o-up"></i> Possibilità di <strong>Mutuo a tasso vantaggioso</strong>
                        </p>
                        <p>
                            <i class="fa fa-thumbs-o-up"></i> Classe energetica A e B
                        </p>
                        <p>
                            <i class="fa fa-thumbs-o-up"></i> Zona ricca di servizi
                        </p>
                        <p>
                            <i class="fa fa-thumbs-o-up"></i> Spese condominiali bassissime
                        </p>
                    </div>
                </div>
        </div> -->
    </div>
</section>
<hr>

<%= partial "partials/chi_siamo" %>
<hr>
<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>

